/* Corps blanc, canvas centré en flex */
body {
  margin: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* plein écran vertical */
  overflow: hidden; /* éviter scroll */
}

/* Forcer la taille fixe du canvas */
canvas {
  width: 360px !important;
  height: 640px !important;
  image-rendering: pixelated;
}
